<html lang="pt-br">
        <head>
            <meta charset="utf-8"/>
            <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
            <title>ConvetMyMoney</title>
            <link href="/style.css" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
    <body>
        <header>
            <!--<nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
                </a>
            </nav>  
            -->
            <nav class="navbar navbar-expand-lg rounded">

                    <div class="navbar-collapse justify-content-md-center">
                            <a class="mt-5" href="/">
                                    <img src="/logo.png" width="100%" height="auto" alt="Convet My Money">
                            </a>
                    </div>
                  </nav>      
        </header>
        <!--<h1><a href="/"><img src="/logo.png" alt="Convet My Money"></a></h1>-->

   